In [4]:
from lsg import *

import pandas as pd

In [6]:
wbcd = pd.read_csv("../../datasets/WBCD/breast_cancer_wisconsin.csv", sep = ",")
wbcd = wbcd.astype('category')
wbcd = wbcd.drop(columns= 'Sample_code_number')

wbcd.head()

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [ ]:
res = []
for iter in range (25):

    wbcd_avatarize = avatarize(wbcd, k= 20, ncp= 2, drop_duplicates= False )    
    wbcd_avatarize['iter'] = iter

    res.append(wbcd_avatarize)

Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction
Regarding variables types, a MCA is performed for dimension reduction

In [8]:
iteration = pd.concat(res, axis = 0)
iteration.sample(10)

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class,iter
597,8,10,10,10,6,2,10,10,7,4,22
165,1,1,1,1,2,1,3,1,1,2,2
470,5,1,2,1,2,2,3,1,1,2,23
405,7,3,2,1,3,1,1,1,1,2,9
48,4,6,8,5,4,1,10,1,1,4,9
621,3,2,2,2,2,1,1,2,1,2,11
492,2,1,1,1,2,2,3,1,1,2,12
320,10,5,7,3,3,7,3,3,8,4,3
604,3,1,1,1,2,1,2,1,1,2,16
645,4,1,1,1,2,1,3,1,1,2,18

In [9]:
iteration.to_csv("../../datasets/wbcd_avatarized_25time_k10_nf_2.csv", index = False)